.git
.gitignore
.env
.env.example
.editorconfig
.DS_Store
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
README.md
*.md
